fastapi
uvicorn
openai
python-dotenv
llama-index
twilio
livekit
aiofiles
av
psutil
torch==2.1.2
torchaudio==2.1.2
numpy==1.26.4
aiohttp
click
PyJWT
nest_asyncio
requests
watchfiles
pydantic
typing_extensions
setuptools
protobuf
silero-vad
livekit-server-sdk



